
.parallax {
  position: relative;
  overflow: hidden;
}

.scroller {
  display: flex;
  white-space: nowrap;
  text-align: center;
  font-family: sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.02em;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.1));
}

.scroller span {
  flex-shrink: 0;
}

.custom-scroll-text {
  color: #9b2242;
  font-family: "Playfair Display", serif;
  padding-right: 0.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background: linear-gradient(to right, #a78526, #9b2242);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
}

@media (min-width: 768px) {
  .scroller {
    font-size: 5rem;
    line-height: 5rem;
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 2px rgba(167, 133, 38, 0.6));
  }
  50% {
    filter: drop-shadow(0 0 8px rgba(167, 133, 38, 0.8));
  }
  100% {
    filter: drop-shadow(0 0 2px rgba(167, 133, 38, 0.6));
  }
}

.gold-glow {
  animation: glow 3s infinite;
}
